body{
margin: 0;

}

#canvas {
  display: block;
}
#console{
  display: flex;
  background-color: rgb(57, 57, 67);
  height: 50px;
}
#input{
  margin-left: 10px;


}
#dot{
  background-color: black;
  border-radius: 50%;
  width: 1px;
  height: 1px;
  margin-left: 30px;
  margin-top: 0px;
  border: rgb(230, 229, 229) solid 5px;
}

#color{
  margin-top: 11px;
  margin-left: 28px;
}
#color, #input:hover{
  cursor: pointer;
}
#clear{
  width: 52px;
  height: 27px;
  margin-top: 12px;
  margin-left: 28px;
  font-size: 14px;
  font-weight: 540;
}
#clear:hover{
  background-color: rgb(95, 90, 89);
  cursor: pointer;
}