body{
margin: 0;

}

#canvas {
  display: block;
}
#console{
  display: flex;
  background-color: rgb(57, 57, 67);
  height: 50px;
}
#input{
  margin-left: 10px;


}
#dot{
  background-color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 30px;
  margin-top: 15px;


}